<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-4">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <div class="container-fluid d-flex flex-column align-items-center w-75">
        <h4 class="mt-4">New applications</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full name</th>
                <th scope="col">Car</th>
                <th scope="col" class="text-lg-right">Price</th>
                <th scope="col" class="text-center">Request Date</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="app, iter: ${applications}" th:object="${app}">
                <tr>
                    <td scope="row" th:text="|${iter.index + 1}|"></td>
                    <td th:text="*{fullName}"></td>
                    <td th:text="*{make}"></td>
                    <td th:text="*{price}" class="text-lg-right"></td>
                    <td th:text="*{#temporals.format(requestDate, 'dd-MM-yyyy HH:mm')}" class="text-center"></td>
                    <td th:text="*{appStatus}" class="text-center"></td>
                    <td><a class="btn btn-outline-dark" th:href="@{/applications/edit/{id}(id=*{id})}">Review</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>