<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-4">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <div class="img-left-0 d-flex">
        <img src="https://res.cloudinary.com/jdsv/image/upload/v1618520368/ok3_apmshl.png" style="width:80%;">
    </div>
    <div class="container-fluid d-flex flex-column align-items-center w-75">
        <div class="card text-center m-2 border-dark text-white bg-info" style="width: 26rem;">
            <div th:object="${car}" class="card-body">
                <h4 class="card-title" th:text="|*{make} *{carModel}|"> Astra</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-sm" th:text="*{carCondition}">
                            USED
                        </div>
                        <div class="col-sm"th:text="*{year}"></div>
                        <div class="col-sm" th:text="|*{mileage} km|"></div>

                    </div>
                    <div class="row">
                        <h5 class="col-sm" th:text="|*{price} BGN|">
                            15 BGN
                        </h5>
                    </div>
                    <th:block sec:authorize="!hasRole('ROLE_MODERATOR')">
                        <a th:href="@{/offers/add/{id}(id=${car.id})}" class="btn btn-outline-dark">Get a quote</a>
                    </th:block>

                </div>
            </div>
        </div>

        <h4>Your offers</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Deposit %</th>
                <th scope="col">Term (months)</th>
                <th scope="col">Residual value %</th>
                <th scope="col">Request Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="offer, iter: ${offers}" th:object="${offer}">
                <tr>
                    <td scope="row" th:text="|${iter.index + 1}|"></td>
                    <td th:text="*{deposit}" class="text-center"></td>
                    <td th:text="*{term}" class="text-center"></td>
                    <td th:text="*{residualValue}" class="text-center"></td>
                    <td th:text="*{#temporals.format(requestDate, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="*{status}"></td>
                    <th:block sec:authorize="!hasRole('ROLE_MODERATOR')">
                    <td th:if="${offer.status != 'REQUESTED' and offer.status != 'DECLINED'}"><a class="btn btn-outline-dark" th:href="@{/offers/view/{id}(id=${offer.id})}">View offer</a></td>
                    <td th:if="${offer.status == 'PRESENTED' or offer.status == 'REVISED'}"><a class="btn btn-outline-dark" th:href="@{/seller/add/{id}(id=${offer.id})}">Apply for leasing</a></td>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                    <td><a th:href="@{/offers/edit/{id}(id=${offer.id})}" class="btn btn-outline-dark">Review</a></td>
                    <td th:if="${offer.status != 'APPLIED'}">

                        <form th:if="${offer.status != 'APPLIED'}" th:action="@{/offers/delete}" th:method="delete">
                            <div class="button-holder d-flex justify-content-center">
                                <input type="hidden" name="id" th:value="*{id}">
                                <button type="submit" class="btn btn-danger btn-outline-dark">Delete</button>
                            </div>
                        </form>
                    </td>
                    </th:block>
                </tr>
            </th:block>
            </tbody>
        </table>
        <th:block th:if="${car.offerUrl != null}"  sec:authorize="hasRole('ROLE_MODERATOR')">
            <img th:src="${car.offerUrl}" target="_blank" rel="noopener noreferrer" alt="Car offer">
            <img th:src="${page2}" alt="">
            <img th:src="${page3}" alt="">
            <img th:src="${page4}" alt="">
        </th:block>

    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>