<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <div class="container-fluid d-flex flex-column align-items-center w-50">
        <h4 class="mt-4">Last week requests for offers</h4>
        <div class="chart-container" style="position: relative; height:30vh; width:35vw">
        <canvas id="myChart" width="200" height="200"></canvas>
        </div>
        <script src="/js/offers.js"></script>

    </div>
</main>
</body>
</html>