<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="bg-4">
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <div class="container-fluid d-flex flex-column align-items-center w-75">
        <h4>All Users</h4>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Username</th>
                <th class="text-center" scope="col">Email</th>
                <th class="text-center" scope="col">Roles</th>
                <th class="text-center" scope="col">New role</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user, iter: ${users}" th:object="${user}">
                <tr>
                    <td scope="row" th:text="|${iter.index + 1}|"></td>
                    <td th:text="*{username}"></td>
                    <td th:text="*{email}"></td>
                    <td th:text="${#strings.replace(#strings.listJoin(user.authorities, ', '), 'ROLE_', '')}"></td>
                    <td>
                        <div class="row d-flex justify-content-center">
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            !#lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                <form th:action="@{/users/set-moderator/{id}(id=*{id})}" method="post">
                                    <button class="btn btn-outline-dark mr-2">Moderator</button>
                                </form>
                                <form th:action="@{/users/set-admin/{id}(id=*{id})}" method="post">
                                    <button class="btn btn-outline-dark mr-2">Admin</button>
                                </form>
                            </th:block>
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            #lists.contains(user.authorities, 'ROLE_MODERATOR') && !#lists.contains(user.authorities, 'ROLE_ADMIN')
                        }">
                                <form th:action="@{/users/set-user/{id}(id=*{id})}" method="post">
                                    <button class="btn btn-outline-dark mr-2">User</button>
                                </form>
                                <form th:action="@{/users/set-admin/{id}(id=*{id})}" method="post">
                                    <button class="btn btn-outline-dark">Admin</button>
                                </form>
                            </th:block>
                            <th:block th:if="${#lists.contains(user.authorities, 'ROLE_USER') &&
                            #lists.contains(user.authorities, 'ROLE_MODERATOR') && #lists.contains(user.authorities, 'ROLE_ADMIN') && !#lists.contains(user.authorities, 'ROLE_ROOT')
                        }">
                                <form th:action="@{/users/set-user/{id}(id=*{id})}" method="post">
                                    <button class="btn btn-outline-dark mr-2">User</button>
                                </form>
                                <form th:action="@{/users/set-moderator/{id}(id=*{id})}" method="post">
                                    <button class="btn btn-outline-dark mr-2">Moderator</button>
                                </form>
                            </th:block>

                        </div>
                    </td>
<!--                    <td><a class="btn btn-light" th:href="@{/seller/add/{id}(id=${offer.id})}">Apply for leasing</a></td>-->
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>