<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head><!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="~{fragments/head}"></th:block>
    </head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main class="mt-3">
            <h3 class="text-center">Your details</h3>
        <div class="container-fluid w-75 d-flex justify-content-center mt-4">
            <form th:action="@{/users/edit}" th:object="${model}" th:method="post">
                <div class="form-group row">
                    <label for="inputUsername" class="col-sm-5 col-form-label">Username</label>
                    <div class="col-sm-6">
                        <input type="text" th:value="*{username}" name="username" class="form-control"
                               id="inputUsername"
                               placeholder="Enter username" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-5 col-form-label">Email address</label>
                    <div class="col-sm-6">
                        <input type="email" th:value="*{email}" name="email" class="form-control" id="inputEmail"
                               placeholder="Enter email">
                        <th:block th:if="${#fields.hasErrors('email')}">
                            <small class="error text-muted" th:errors="*{email}"></small>
                        </th:block>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="oldPassword" class="col-sm-5 col-form-label">Old Password</label>
                    <div class="col-sm-6">
                        <input type="password" th:value="*{oldPassword}" name="oldPassword" class="form-control" id="oldPassword"
                               placeholder="Enter Password">
                        <th:block th:if="${#fields.hasErrors('oldPassword')}">
                            <small class="error text-muted" th:errors="*{oldPassword}"></small>
                        </th:block>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword" class="col-sm-5 col-form-label">New Password</label>
                    <div class="col-sm-6">
                        <input type="password" th:value="*{password}" name="password" class="form-control" id="newPassword"
                               placeholder="Enter new password">
                        <th:block th:if="${#fields.hasErrors('password')}">
                            <small class="error text-muted" th:errors="*{password}"></small>
                        </th:block>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputConfirmPassword" class="col-sm-5 col-form-label">Confirm Password</label>
                    <div class="col-sm-6">
                        <input type="password" name="confirmPassword" class="form-control" id="inputConfirmPassword"
                               placeholder="Repeat new password">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <a th:href="@{/profile/show}" class="btn btn-primary ml-3">Back to profile</a>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>