#navbarNav{
    justify-content: flex-end;
    margin-right: 3rem;
}
#form-review{
    margin-left: 25%;
}
/** Pull left **/
.pull-left-md {
    float: left;
}

/** Pull right **/
.pull-right-md {
    float: right;
}