<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>
<main>
    <div class="container-fluid d-flex flex-column align-items-center w-75">
        <h4 class="mt-4">All requested offers</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Car</th>
                <th scope="col">Price</th>
                <th scope="col">Deposit %</th>
                <th scope="col">Term (months)</th>
                <th scope="col">Residual value %</th>
                <th scope="col">Request Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="offer, iter: ${offers}" th:object="${offer}">
                <tr>
                    <td scope="row" th:text="|${iter.index + 1}|"></td>
                    <td th:text="*{make}"></td>
                    <td th:text="*{price}"></td>
                    <td th:text="*{deposit}"></td>
                    <td th:text="*{term}"></td>
                    <td th:text="*{residualValue}"></td>
                    <td th:text="*{requestDate}"></td>
                    <td th:text="*{status}"></td>
                    <td><a class="btn btn-light" th:href="@{/offers/{id}(id=*{carId})}">Reply</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</main>
</body>
</html>